/*
0-600px: phone;

600-900px: tablet-potarit

900-1200: tablet-landscape

1200-1800 is where our normal style apply

1800px+:big desktop
*/
:root {
  --fs-900: 9rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
}
@media (max-width: 56.25em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.15rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}
@media (max-width: 37.5em) {
  :root {
    --fs-900: 4.5rem;
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1.125rem;
    --fs-500: 1rem;
    --fs-400: 0.938rem;
    --fs-300: 0.875rem;
  }
}

html {
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: center;
}
@media (min-width: 64em) {
  html {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.txt, .txt-6, .home__content > div:nth-child(1) p:nth-child(1), .txt-5, .txt-4, .btn, .txt-3, .txt-2 {
  font-family: "Bellefair", sans-serif;
  letter-spacing: 0px;
}

.txt-1 {
  font-size: var(--fs-900);
}

.txt-2 {
  font-size: var(--fs-800);
}

.txt-3 {
  font-size: var(--fs-700);
}

.txt-4, .btn {
  font-size: var(--fs-600);
  letter-spacing: 4px;
}

.txt-5 {
  font-size: var(--fs-500);
  letter-spacing: 4px;
}

.txt-6, .home__content > div:nth-child(1) p:nth-child(1) {
  font-size: var(--fs-500);
}

.txt-7 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--fs-200);
  letter-spacing: 2px;
}

.txt-8, .home .nav ul li > a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--fs-300);
  letter-spacing: 2px;
}

.txt-9 {
  font-family: "Barlow", sans-serif;
  font-size: var(--fs-400);
  letter-spacing: 0px;
  line-height: 180%;
}

.upper-case {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.fl-col {
  flex-direction: column;
}

.fl-col-center {
  align-items: center;
  justify-content: center;
}

.fl-row {
  flex-direction: row;
}

.fl-row-sp-bt {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 64em) {
  .container {
    flex-direction: row;
  }
}

.btn {
  height: 272px;
  width: 272px;
  border-radius: 50%;
  text-transform: uppercase;
  color: #0B0D17;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: opacity 500ms linear;
}
.btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.1);
  z-index: -1;
  opacity: 0;
  transition: opacity 500ms linear, transform 300ms linear;
}
.btn:hover {
  color: #484A51;
}
.btn:hover::after {
  transform: scale(1.5);
  opacity: 1;
}
@media (max-width: 37.5em) {
  .btn {
    font-size: var(--fs-400);
    height: 144px;
    width: 144px;
  }
}

.home {
  position: relative;
  overflow-x: hidden;
}
.home .header {
  padding: 1.5rem;
}
@media (min-width: 40em) {
  .home .header {
    padding: 0;
    height: 6rem;
    position: relative;
  }
}
@media (min-width: 64em) {
  .home .header {
    padding-top: 2.5rem;
  }
}
.home .header__logo {
  flex: 1;
}
@media (min-width: 40em) {
  .home .header__logo {
    padding-left: 1.5rem;
  }
}
@media (min-width: 64em) {
  .home .header__logo {
    padding-left: 2.5rem;
    position: relative;
  }
  .home .header__logo:after {
    content: "";
    height: 1px;
    width: 27.5rem;
    background-color: #3A3D44;
    position: absolute;
    top: 50%;
    left: 7rem;
    z-index: 19;
  }
}
.home .header__logo > div {
  height: 2.5rem;
  width: 2.5rem;
}
@media (min-width: 40em) {
  .home .header__logo > div {
    height: 3rem;
    width: 3rem;
  }
}
.home .header__logo > div img {
  height: 100%;
  width: 100%;
}
.home .header__nav-icon {
  cursor: pointer;
}
@media (min-width: 40em) {
  .home .header__nav-icon {
    display: none;
  }
}
.home .nav {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  left: 20%;
  background-color: hsla(231, 77%, 90%, 0.15);
  transform: translateX(100%);
  backdrop-filter: blur(1.4rem);
  -webkit-backdrop-filter: blur(1.4rem);
  color: #ffffff;
  z-index: 2;
  transition: transform 1s ease-in-out;
}
@media (min-width: 40em) {
  .home .nav {
    position: relative;
    inset: 0;
    transform: translateX(0);
    flex: 6;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 64em) {
  .home .nav {
    flex: 1.5;
  }
}
.home .nav ul {
  position: absolute;
  top: 8.313rem;
  left: 2rem;
  width: calc(100% - 2rem);
}
@media (min-width: 40em) {
  .home .nav ul {
    position: relative;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
    width: 100%;
    padding-inline: 2.5rem;
  }
}
.home .nav ul > *:where(:not(:last-child)) {
  margin-bottom: 2rem;
}
@media (min-width: 40em) {
  .home .nav ul > *:where(:not(:last-child)) {
    margin-bottom: 0;
  }
}
.home .nav ul li {
  position: relative;
}
.home .nav ul li :after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 105%;
  width: 2px;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
@media (min-width: 40em) {
  .home .nav ul li :after {
    height: 2px;
    width: 100%;
    top: calc(100% + 2.188rem);
  }
}
.home .nav ul li.active :after {
  opacity: 1;
}
.home .nav ul li :hover::after {
  opacity: 0.6;
}
.home .nav ul li > a {
  color: #ffffff;
  list-style: none;
  text-transform: uppercase;
}
.home .nav ul li > a > span {
  font-weight: bold;
  margin-right: 0.75rem;
}
.home .nav--close-btn {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
}
@media (min-width: 40em) {
  .home .nav--close-btn {
    display: none;
  }
}
.home__content {
  padding: 1.5rem;
  text-align: center;
  color: #D0D6F9;
  z-index: 1;
}
@media (min-width: 40em) {
  .home__content {
    padding: 8rem 2rem;
  }
}
@media (min-width: 64em) {
  .home__content {
    padding: 7.5rem 5.625rem;
    text-align: start;
  }
}
.home__content > div {
  color: #ffffff;
}
@media (min-width: 64em) {
  .home__content > div {
    height: 39.5rem;
    align-self: flex-end;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    flex: 1;
  }
}
@media (min-width: 40em) {
  .home__content > div:nth-child(1) {
    padding-inline: 5.5rem;
  }
}
@media (min-width: 64em) {
  .home__content > div:nth-child(1) {
    padding-inline: 0;
    align-items: start;
  }
}
@media (min-width: 64em) {
  .home__content > div:nth-child(1) p:nth-child(1) {
    font-size: var(--fs-500);
  }
}
.home__content > div:nth-child(1) > *:where(:not(:last-child)) {
  margin-bottom: 2rem;
}
.home__button {
  margin-block: 5.938rem;
}
@media (min-width: 40em) {
  .home__button .btn {
    position: relative;
    top: 7.5rem;
  }
}
@media (min-width: 64em) {
  .home__button {
    margin: 0;
  }
  .home__button .btn {
    top: 0;
    margin-bottom: 1.875rem;
  }
}
.home .hide {
  transform: translateX(100%);
}
.home .show {
  transform: translateX(0);
}
