/*
0-600px: phone;

600-900px: tablet-potarit

900-1200: tablet-landscape

1200-1800 is where our normal style apply

1800px+:big desktop
*/
:root {
  --fs-900: 9rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
}
@media (max-width: 56.25em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.15rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}
@media (max-width: 37.5em) {
  :root {
    --fs-900: 4.5rem;
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1.125rem;
    --fs-500: 1rem;
    --fs-400: 0.938rem;
    --fs-300: 0.875rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
}

.txt, .txt-6, .home__content > div:nth-child(1) p:nth-child(1), .title, .txt-5, .txt-4, .btn, .txt-3, .txt-2 {
  font-family: "Bellefair", sans-serif;
  letter-spacing: 0px;
}

.txt-1 {
  font-size: var(--fs-900);
}

.txt-2 {
  font-size: var(--fs-800);
}

.txt-3 {
  font-size: var(--fs-700);
}

.txt-4, .btn {
  font-size: var(--fs-600);
}

.txt-5 {
  font-size: var(--fs-500);
  letter-spacing: 4px;
}

.txt-6, .home__content > div:nth-child(1) p:nth-child(1), .title {
  font-size: var(--fs-500);
}

.txt-7 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--fs-200);
  letter-spacing: 2px;
}

.txt-8, .dest_nav, .nav__list--item > a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--fs-300);
  letter-spacing: 2px;
}

.txt-9 {
  font-family: "Barlow", sans-serif;
  font-size: var(--fs-400);
  letter-spacing: 0px;
  line-height: 180%;
}

.upper-case, .dest_nav, .title {
  text-transform: uppercase;
}

.title {
  margin-bottom: 2rem;
  color: #ffffff;
}
.title span {
  opacity: 0.5;
  margin-right: 0.5rem;
  letter-spacing: 2px;
}

.flex {
  display: flex;
}

.fl-col {
  flex-direction: column;
}

.fl-col-center {
  align-items: center;
  justify-content: center;
}

.fl-row {
  flex-direction: row;
}

.fl-row-sp-bt {
  justify-content: space-between;
}

.fl-row-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 75em) {
  .container {
    flex-direction: row;
  }
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.btn {
  height: 272px;
  width: 272px;
  border-radius: 50%;
  text-transform: uppercase;
  color: #0B0D17;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
  z-index: 1;
  transition: opacity 500ms linear;
}
.btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.1);
  z-index: -1;
  opacity: 0;
  transition: opacity 500ms linear, transform 300ms linear;
}
.btn:hover {
  color: #484A51;
}
.btn:hover::after {
  transform: scale(1.5);
  opacity: 1;
}
@media (max-width: 37.5em) {
  .btn {
    font-size: var(--fs-400);
    height: 144px;
    width: 144px;
  }
}

.header {
  padding: 1.5rem;
}
@media (min-width: 48em) {
  .header {
    padding: 0;
    height: 6rem;
    position: relative;
  }
}
@media (min-width: 75em) {
  .header {
    padding-top: 2.5rem;
  }
}
.header__logo {
  flex: 1;
}
@media (min-width: 48em) {
  .header__logo {
    padding-left: 1.5rem;
  }
}
@media (min-width: 75em) {
  .header__logo {
    padding-left: 2.5rem;
    position: relative;
  }
  .header__logo:after {
    content: "";
    height: 1px;
    width: 27.5rem;
    background-color: #3A3D44;
    position: absolute;
    top: 50%;
    left: 7rem;
    z-index: 19;
  }
}
.header__logo > div {
  height: 2.5rem;
  width: 2.5rem;
}
@media (min-width: 48em) {
  .header__logo > div {
    height: 3rem;
    width: 3rem;
  }
}
.header__logo > div img {
  height: 100%;
  width: 100%;
}
.header__nav-icon {
  cursor: pointer;
}
@media (min-width: 48em) {
  .header__nav-icon {
    display: none;
  }
}

.nav {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  left: 20%;
  background-color: hsla(231, 77%, 90%, 0.15);
  transform: translateX(100%);
  backdrop-filter: blur(1.4rem);
  -webkit-backdrop-filter: blur(1.4rem);
  color: #ffffff;
  z-index: 2;
  transition: transform 1s ease-in-out;
}
@media (min-width: 48em) {
  .nav {
    position: relative;
    inset: 0;
    transform: translateX(0);
    flex: 6;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 75em) {
  .nav {
    flex: 1.5;
  }
}
.nav ul {
  position: absolute;
  top: 8.313rem;
  left: 2rem;
  width: calc(100% - 2rem);
}
@media (min-width: 48em) {
  .nav ul {
    position: relative;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
    width: 100%;
    padding-inline: 2.5rem;
  }
}
.nav ul > *:where(:not(:last-child)) {
  margin-bottom: 2rem;
}
@media (min-width: 48em) {
  .nav ul > *:where(:not(:last-child)) {
    margin-bottom: 0;
  }
}
.nav__list--item {
  position: relative;
}
.nav__list--item :after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 105%;
  width: 2px;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
@media (min-width: 48em) {
  .nav__list--item :after {
    height: 2px;
    width: 100%;
    top: calc(100% + 2.188rem);
  }
}
.nav__list--item-active :after {
  opacity: 1;
}
.nav__list--item :hover::after {
  opacity: 0.6;
}
.nav__list--item > a {
  color: #ffffff;
  list-style: none;
  text-transform: uppercase;
}
.nav__list--item > a > span {
  font-weight: bold;
  margin-right: 0.75rem;
}
.nav--close-btn {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
}
@media (min-width: 48em) {
  .nav--close-btn {
    display: none;
  }
}

.hide {
  transform: translateX(100%);
}

.show {
  transform: translateX(0);
}

.dotted-nav {
  display: flex;
  gap: 1rem;
}
.dotted-nav--active {
  background-color: #ffffff !important;
}
.dotted-nav li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background-color: #373944;
  transition: background-color 500ms ease-in-out;
  cursor: pointer;
}
.dotted-nav li:hover {
  background-color: #86878E;
}

.home {
  position: relative;
  overflow-x: hidden;
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: center;
}
@media (min-width: 75em) {
  .home {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
}
.home__content {
  padding: 1.5rem;
  text-align: center;
  color: #D0D6F9;
  z-index: 1;
}
@media (min-width: 48em) {
  .home__content {
    padding: 8rem 2rem;
  }
}
@media (min-width: 75em) {
  .home__content {
    padding: 7.5rem 5.625rem;
    text-align: start;
  }
}
.home__content > div {
  color: #ffffff;
}
@media (min-width: 75em) {
  .home__content > div {
    height: 39.5rem;
    align-self: flex-end;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    flex: 1;
  }
}
@media (min-width: 48em) {
  .home__content > div:nth-child(1) {
    padding-inline: 5.5rem;
  }
}
@media (min-width: 75em) {
  .home__content > div:nth-child(1) {
    padding-inline: 0;
    align-items: start;
  }
}
@media (min-width: 75em) {
  .home__content > div:nth-child(1) p:nth-child(1) {
    font-size: var(--fs-500);
  }
}
.home__content > div:nth-child(1) > *:where(:not(:last-child)) {
  margin-bottom: 2rem;
}
.home__button {
  margin-block: 5.938rem;
}
@media (min-width: 48em) {
  .home__button .btn {
    position: relative;
    top: 7.5rem;
  }
}
@media (min-width: 75em) {
  .home__button {
    margin: 0;
  }
  .home__button .btn {
    top: 0;
    margin-bottom: 1.875rem;
  }
}

.dest {
  min-height: 100vh;
  background-image: url("../assets/destination/background-destination-mobile.jpg");
  background-size: cover;
  background-position: center;
}
@media (min-width: 75em) {
  .dest {
    background-image: url("../assets/destination/background-destination-mobile.jpg");
  }
}
.dest__content {
  padding: 2rem;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 48em) {
  .dest__content {
    padding: 2.5rem;
  }
  .dest__content .title {
    text-align: start;
  }
}
@media (min-width: 75em) {
  .dest__content {
    padding-inline: 7.8125rem;
  }
}
@media (min-width: 75em) {
  .dest__content--img-wrapper {
    padding: 7.9375rem 1.8125rem;
  }
}
.dest__content__img--moon {
  padding-block: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.dest__content__img--moon div {
  height: 150px;
  width: 150px;
}
@media (min-width: 48em) {
  .dest__content__img--moon div {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 75em) {
  .dest__content__img--moon div {
    display: block;
    height: 480px;
    width: 480px;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 48em) {
  .dest__content--desc-wrapper {
    padding: 0.6875rem 5.4375rem;
  }
}
@media (min-width: 75em) {
  .dest__content--desc-wrapper {
    padding: 8.3125rem 2.9375rem;
    text-align: start;
  }
}
.dest__content__description {
  padding-block: 2rem;
  border-bottom: 0.125rem solid #3A3D44;
}
.dest__content__description :first-child {
  padding-bottom: 1.5rem;
}
@media (min-width: 48em) {
  .dest__content__description :first-child {
    font-size: 80px;
  }
}
.dest__content__description--dest-time {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48em) {
  .dest__content__description--dest-time {
    flex-direction: row;
  }
}
.dest__content__description--distance {
  margin-top: 2rem;
  flex: 1;
}
@media (min-width: 75em) {
  .dest__content__description--distance {
    padding-right: 3.125rem;
  }
}
.dest__content__description--distance :first-child {
  margin-bottom: 0.75rem;
  color: #D0D6F9;
}
.dest__content__description--time {
  margin-top: 2rem;
  flex: 1;
}
.dest__content__description--time :first-child {
  margin-bottom: 0.75rem;
  color: #D0D6F9;
}
.dest_nav {
  display: flex;
  padding-inline: 2.5rem;
  justify-content: space-between;
}
@media (min-width: 48em) {
  .dest_nav {
    padding-inline: 7.9375rem;
  }
}
@media (min-width: 75em) {
  .dest_nav {
    padding-inline: 0px;
    justify-content: flex-start;
    gap: 2rem;
  }
}
.dest_nav li {
  position: relative;
  padding-bottom: 0.9375rem;
}
.dest_nav li:after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  display: block;
  opacity: 0;
  transition: opacity 1500ms ease-in-out;
}
.dest_nav li:hover::after {
  opacity: 1;
}

.crew {
  min-height: 100vh;
  background-image: url("../assets/crew/background-crew-mobile.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
@media (min-width: 48em) {
  .crew {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }
}
@media (min-width: 75em) {
  .crew {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
  }
}
.crew__content {
  color: #ffffff;
  padding: 1.5rem;
}
@media (min-width: 48em) {
  .crew__content {
    padding: 2.5rem;
  }
}
@media (min-width: 75em) {
  .crew__content {
    padding: 3rem 4.375rem;
  }
}
.crew__content__title {
  text-align: center;
}
@media (min-width: 48em) {
  .crew__content__title {
    font-size: var(--fs-500);
    text-align: start;
  }
}
.crew__content .container {
  gap: 0.625rem;
}
.crew__content__desc {
  text-align: center;
  margin-top: 3.125rem;
  position: relative;
}
@media (min-width: 48em) {
  .crew__content__desc {
    padding-inline: 5.9375rem;
  }
}
@media (min-width: 75em) {
  .crew__content__desc {
    padding-inline: 0;
    text-align: start;
    margin-top: 12.3125rem;
  }
}
.crew__content__desc p:nth-child(1) {
  opacity: 0.5;
  margin-bottom: 0.5rem;
}
.crew__content__desc p:nth-child(2) {
  margin-bottom: 1.5rem;
}
.crew__content__desc p:nth-child(3) {
  color: #D0D6F9;
  margin-bottom: 3rem;
}
@media (min-width: 75em) {
  .crew__content__desc .nav__container {
    justify-content: unset;
    position: absolute;
    bottom: 3rem;
  }
}
.crew__content__img {
  margin-top: 2rem;
}
.crew__content__img--container {
  height: 340px;
  width: 271px;
}
@media (min-width: 48em) {
  .crew__content__img--container {
    height: 560px;
    width: 446px;
  }
}
@media (min-width: 75em) {
  .crew__content__img--container {
    height: 676px;
    width: 539px;
  }
}
