.home {
  &__content {
      padding: $sp-300;
      text-align: center;
      color: $blue300;
      z-index: 1;
      @include breakpoint-up(medium) {
          padding: 8rem $sp-400;
      }
      @include breakpoint-up(large) {
          padding: 7.5rem 5.625rem;
          text-align: start;
      }
      &>div {
          color: $white;
          @include breakpoint-up(large) {
              height: 39.5rem;
              align-self: flex-end;
              justify-self: end;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: end;
              flex: 1;
          }
          &:nth-child(1) {
              @include breakpoint-up(medium) {
                  padding-inline: 5.5rem;
              }
              @include breakpoint-up(large) {
                  padding-inline: 0;
                  align-items: start;
              }
              & p:nth-child(1) {
                  @extend .txt-6;
                  @include breakpoint-up(large) {
                      font-size: $fs-500;
                  }
              }
              >*:where(:not(:last-child)) {
                  margin-bottom: $sp-400;
              }
          }
      }
  }
  &__button {
      margin-block: 5.938rem;
      @include breakpoint-up(medium) {
          .btn {
              position: relative;
              top: 7.5rem;
          }
      }
      @include breakpoint-up(large) {
          margin: 0;
          .btn {
              top: 0;
              margin-bottom: 1.875rem;
          }
      }
  }
}