.home{
    height: 100vh;
    background-image: url('../assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-position: center;
    @include breakpoint-up(large) {
        background-image: url('../assets/home/background-home-desktop.jpg');
      }
}